{% extends "layout.html" %}
{% block content %}
  <article class="media content-section" style="border:none;">
    <img class="article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <center><br><h3 class="hero-header">{{ post.title }}</h3><hr><br></center>
      {% if weekly |length %}
      <center><button onclick="myDetach()">View Trades</button></center>
      <br>
      <script>
        function myDetach() {
        var myWin = window.open( '/detach_viewer/{{weekly}}', 'myWindow', 'width=900,height=550');
        myWin.moveTo(600, 300);
        myWindow.focus();
      }
      </script>
      {% endif %}


<div class="adjust-doc-border-intro doc-clear">
<center><h1 class="hero-header"><b>SUMMATION</b></h1></center>
  <p class="teaser-content">. 
  </p>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>MONDAY</b></h3></center>
  <p class="teaser-content">      
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long at opening, momentum on cusp, quasi push contracts, caution wedged in).</li>
          <li class="list"><b>Exit:</b> Close out. </li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, divergences across the board, down swing, double down.</li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-entry short, momentum, selling acumulating, gap, contract push, widen stop, add to position, adjust target.</li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, divergence off resistance, selling comes back, down swing channel. </li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Fifth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-entry short, gap, selling comes back, accumulating. </li>
          <li class="list"><b>Exit:</b> Close out. </li>
        </ul>
      </li>
      <li class="list"><b>Sixth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse long, time and volumes(40t chart), double down.</li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Seventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-entry short, selling comes back, gap to fill.</li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>TUESDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b>
      </p>
      <ul>
        <li class="list"><b>First Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Long at opening, contract push, support.</li>
            <li class="list"><b>Exit:</b> Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Second Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Re-entry long, 2nd contract push, momentum on cusp.</li>
            <li class="list"><b>Exit:</b> Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Third Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Re-entry long, buying accumulating, breaking dh, momentum.</li>
            <li class="list"><b>Exit: </b> Close out. </li>
          </ul>
        </li>
        <li class="list"><b>Fourth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Reverse short, selling comes in, time & volume formation, double down. </li>
            <li class="list"><b>Exit:</b> Close out.  </li>
          </ul>
        </li>
        <li class="list"><b>Fifth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Long, bounce off vwap & yh. </li>
            <li class="list"><b>Exit:</b> Close out.  </li>
          </ul>
        </li>
        <br>
        <li class="list" style="color: blue;"><i>Hindsight is 20/20: Getting killed today, head is not in the game. </i>
        </li>
        <br>
        <br>
        <li class="list"><b>Sixth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Long, time & volume formation, double down. </li>
            <li class="list"><b>Exit:</b> Target filled.  </li>
          </ul>
        </li>
        <li class="list"><b>Seventh Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Short, price divergence, fading top. </li>
            <li class="list"><b>Exit:</b> Target filled.  </li>
          </ul>
        </li>
        <li class="list"><b>Eighth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Short, contract push, broke 200ema, b.o. and gap on 40t chart. </li>
            <li class="list"><b>Exit:</b> Target filled.  </li>
          </ul>
        </li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>WEDNESDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> Missed morning session.
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, market breadth selloff, price action, double down. </li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>THURSDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list" style="color: darkred;"><i>Hindsight is 20/20:Played the market horribly today. Played angry, sloppy, chasing swings, overtraded, trying to recoup losses from previous trade, overleveraged. What was I thinking ??????</i></li>
      <br>
      <br>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long at opening, suport level, contract push, widen stop.</li>
          <li class="list"><b>Exit:</b> Stopped out, full stop - ouch! </li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, double down, breaking news - Russia invading Ukraine(heavily over leveraged - ouch!</li>
          <li class="list"><b>Exit:</b> Close out. </li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse long, double down, divergences across the board, buying dominates.</li>
          <li class="list"><b>Exit:</b> Close out. </li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short(Yet again), double down. Divergence, price action - direction of swing, selling comes in.  Widen target(over leveraged - ouch).</li>
          <li class="list"><b>Exit:</b>  Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Fifth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, contract surge, momentum. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Sixth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, widen stop. </li>
          <li class="list"><b>Exit:</b>   Close out.</li>
        </ul>
      </li>
      <li class="list"><b>Seventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse long, double down. </li>
          <li class="list"><b>Exit:</b>  Close out. </li>
        </ul>
      </li>
      <li class="list"><b>Eighth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, double down, widen target. </li>
          <li class="list"><b>Exit:</b>  Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Ninth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, support levels tagged, buying accumulating. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <br>
      <li class="list" style="color: darkred;"><i>Hindsight is 20/20:What the hell was I doing ? Trading angry.</i></li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>FRIDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> </li>
          <li class="list"><b>Exit:</b>  </li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> </li>
          <li class="list"><b>Exit:</b>  </li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> </li>
          <li class="list"><b>Exit:</b>  </li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>  </li>
          <li class="list"><b>Exit:</b>   </li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
<div>


  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
