{% extends "layout.html" %}
{% block content %}
  <article class="media content-section" style="border:none;">
    <img class="article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <center><br><h3 class="hero-header">{{ post.title }}</h3><hr><br></center>
      {% if weekly |length %}
      <center><button onclick="myDetach()">View Trades</button></center>
      <br>
      <script>
        function myDetach() {
        var myWin = window.open( '/detach_viewer/{{weekly}}', 'myWindow', 'width=900,height=550');
        myWin.moveTo(600, 300);
        myWindow.focus();
      }
      </script>
      {% endif %}


<div class="adjust-doc-border-intro doc-clear">
<center><h1 class="hero-header"><b>SUMMATION</b></h1></center>
  <p class="teaser-content">. 
  </p>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>MONDAY</b></h3></center>
  <p class="teaser-content">      
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Short at opening, contract surge.</li>
          <li class="list"><b>Exit:</b>Close out.</li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Reverse long, price action.</li>
          <li class="list"><b>Exit:</b>Close out.</li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-enter short, double down.</li>
          <li class="list"><b>Exit:</b>Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-enter short.</li>
          <li class="list"><b>Exit:</b>Close down.</li>
        </ul>
      </li>
      <li class="list"><b>Fifth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Reverse long, divergences across the board, double down.</li>
          <li class="list"><b>Exit:</b>Close out.</li>
        </ul>
      </li>
      <li class="list"><b>Sixth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-enter long, double down, adjust targets.</li>
          <li class="list"><b>Exit:</b>Targets filled.</li>
        </ul>
      </li>
      <br>
      <li class="list" style="color:red;"><i>Hindsight is 20/20:Samething happened last Mondy, stuck @ opening with POC before contract surge took effect.</i></li>
      <br>
      <li class="list"><b>Seventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Short, contract push, momentum.</li>
          <li class="list"><b>Exit:</b>Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Eighth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Long, potential bounce off YPOC.</li>
          <li class="list"><b>Exit:</b>Stopped out.</li>
        </ul>
      </li>
      <li class="list"><b>Ninth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Reverse short, doublwe down.</li>
          <li class="list"><b>Exit:</b>Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Tenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Long, potential bounce, double down.</li>
          <li class="list"><b>Exit:</b>Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Eleventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Long, divergences.</li>
          <li class="list"><b>Exit:</b>Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Twelvth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Long, volume climax, bounce off VAL, divergence.</li>
          <li class="list"><b>Exit:</b>Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Thirteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Short, late entry tst bar off resistance and follow thru.</li>
          <li class="list"><b>Exit:</b>Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Fourteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Long, volume climax, bounce off VAH.</li>
          <li class="list"><b>Exit:</b>Target filled.</li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>s
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>TUESDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b>
      </p>
      <ul>
        <li class="list"><b>First Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Long at opening, contract push.</li>
            <li class="list"><b>Exit:</b>Close out. </li>
          </ul>
        </li>
        <li class="list"><b>Second Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Re-enter long, divergences.</li>
            <li class="list"><b>Exit:</b> Stopped out.</li>
          </ul>
        </li>
        <li class="list"><b>Third Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Re-enter long divergences.</li>
            <li class="list"><b>Exit:</b> Stopped out.</li>
          </ul>
        </li>
        <li class="list"><b>Fourth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Re-enter long, divergences.</li>
            <li class="list"><b>Exit:</b>Close out. </li>
          </ul>
        </li>
        <li class="list"><b>Fifth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Re-enter long, divergences, </li>
            <li class="list"><b>Exit:</b>Close out. </li>
          </ul>
        </li>
        <br>
        <li class="list" style="color:red;"><i>Hindsight is 20/20: Getting killed, bias obviously wrong.</i></li>
        <br>
        <li class="list"><b>Sixth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Long, climax bar, divergences. </li>
            <li class="list"><b>Exit:</b>Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Seventh Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Long, buy pressure, breaking 50%. </li>
            <li class="list"><b>Exit:</b>Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Eighth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Divergence off resistance, climax bar. </li>
            <li class="list"><b>Exit:</b>Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Ninth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> OBV and CD accumulating. </li>
            <li class="list"><b>Exit:</b>Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Tenth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Long, pullback. </li>
            <li class="list"><b>Exit:</b>Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Tenth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Long, bounce off support line. </li>
            <li class="list"><b>Exit:</b>Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Eleventh Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Short, divergences across the board, late entry. </li>
            <li class="list"><b>Exit:</b>Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Twelvth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b>Short, momentum, gap to fill, adjust targets. </li>
            <li class="list"><b>Exit:</b>Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Thirteenth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b>Long, bounce off support line after gap filled. </li>
            <li class="list"><b>Exit:</b>Target filled. </li>
          </ul>
        </li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>WEDNESDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short at opening, price action counter to contract surge. </li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, potential bounce off VAL, absorption, hammers.</li>
          <li class="list"><b>Exit:</b> Stopped out. </li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Reverse short, price action, double down, tighten stop. </li>
          <li class="list"><b>Exit:</b> Stopped out. </li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-enter long, divergences, buying build up, tighten stop.  </li>
          <li class="list"><b>Exit:</b> Stopped out.  </li>
        </ul>
      </li>
      <li class="list"><b>Fifth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, resistance, tst bar followed by volume increase, late entry, double down, adjust targets. </li>
          <li class="list"><b>Exit:</b> First target filled, close out remainder.  </li>
        </ul>
      </li>
      <li class="list"><b>Sixth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-enter short, momentum across the borad, price action, double down.  </li>
          <li class="list"><b>Exit:</b> Close out after three tries.  </li>
        </ul>
      </li>
      <li class="list"><b>Seventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, buying building up, 2nd set of divergences off support(40R). </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>Eighth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, momentum, price action, double down. </li>
          <li class="list"><b>Exit:</b> Close out(absorption).  </li>
        </ul>
      </li>
      <li class="list"><b>Ninth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse long, double down. </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <br>
      <li class="list" style="color:red;"><i>Hindsight is 20/20: Overtrading and Over Exposure</i></li>
      <br>
      <li class="list"><b>Tenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, price action, effort vs result on last pullback, double down heavy to make up for loss - dangerous!  </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Eleventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, divergences, effort vs reward, buying, double down. </li>
          <li class="list"><b>Exit:</b> Stopped out.  </li>
        </ul>
      </li>
      <li class="list"><b>Twelvth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Reverse short, heavy contracts, momentum, divergence, double down.  </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>Thirteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Reverse long, divergences, heavy double down.  </li>
          <li class="list"><b>Exit:</b> Targets filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Fourteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-enter long.  </li>
          <li class="list"><b>Exit:</b> Stopped out.  </li>
        </ul>
      </li>
      <li class="list"><b>Fifteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-enter long.  </li>
          <li class="list"><b>Exit:</b> Stopped out.  </li>
        </ul>
      </li>
      <li class="list"><b>Sixteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, make-or-break, double down. </li>
          <li class="list"><b>Exit:</b> Targets filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Seventeenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, heavy contract push. </li>
          <li class="list"><b>Exit:</b> Stopped out.  </li>
        </ul>
      </li>
      <li class="list"><b>Eighteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short. </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>Ninteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Reverse long, divergences across the board.  </li>
          <li class="list"><b>Exit:</b> First target hit, close out reaminder at a loss.  </li>
        </ul>
      </li>
      <li class="list"><b>Twentyth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Reverse short, effort vs reward, double down.  </li>
          <li class="list"><b>Exit:</b> Stopped out.  </li>
        </ul>
      </li>
      <br>
      <li class="list" style="color:red;"><i>Hindsight is 20/20: Overtrading and Over Exposure</i></li>
      <br>
      <li class="list"><b>TwentyOne Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, tst bar followed by volume surge, double down heavy. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>TwentyTwo Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-enter short, momentum, price action, contract surges.  </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>TwentyThree Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, absorption. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>TwentyFour Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, double down. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>TwentyFive Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long. </li>
          <li class="list"><b>Exit:</b>  Close out. </li>
        </ul>
      </li>
      <li class="list"><b>TwentySix Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short. </li>
          <li class="list"><b>Exit:</b>  Close out. </li>
        </ul>
      </li>
      <li class="list"><b>TwentySeven Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Short, double down.  </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>TwentyEight Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, double down. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>TwentyNine Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, double down. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <br>
      <li class="list" style="color:red;"><i>Hindsight is 20/20: Overtrading and Over Exposure</i></li>
      <br>
      <li class="list"><b>Thirty Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, contract push, bounce.  </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>ThirtyOne Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, priuce action, absorption, double down.  </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>ThirtyTwo Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, support, absorption. </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>ThirtyThree Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, pullback diminishing volume, double down. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>ThirtyFour Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, divergence off support, double down, tighten stop. </li>
          <li class="list"><b>Exit:</b> Stopped out.  </li>
        </ul>
      </li>
      <li class="list"><b>ThirtyFive Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-enter long, everything intact, double down heavy.  </li>
          <li class="list"><b>Exit:</b> First profit target hit, second profit target hit, remainder break even.  </li>
        </ul>
      </li>
      <li class="list"><b>ThirtySix Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Reverse short, contract push, divergences.  </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>ThirtySeven Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Long, bounce off support, divergence.  </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>ThirtyEight Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, divergence, double down. </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>ThirtyNine Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, divergences off resistance. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Fourty Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Short, divergences, double down.  </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>THURSDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Long at opening, contract push, bounce off POC. </li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, divergences off resistance.</li>
          <li class="list"><b>Exit:</b> Close out. </li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse Long,momentum, buying accumulating, double down, adjust targets.</li>
          <li class="list"><b>Exit:</b> Targets filled. </li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short off YL & Y-VAH, divergences. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Fifth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, potential bounce off POC and tst bar followed by inc vol. </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>Sixth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, double down. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Seventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, late entry, potential tst bar -> vol inc bar, tricky right @ VAL </li>
          <li class="list"><b>Exit:</b> Target Filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Eighth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, potential support @ VAL, tst bar-> inc vol bar. </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>Ninth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, test bar -> inc vol bar, double down. </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>Tenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse long, divergence off support, double down. </li>
          <li class="list"><b>Exit:</b> Targets filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Eleventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-entry long on pullback, staircasing.  </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Twelvth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, buying accumulating, vwap as target, momentum. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Thirteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, resistance, absorption. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Fourteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, building base. </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>Fifteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, divergence off 50% retrace, semi absorption bar. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Sixteenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, divergences across the board, after 3rd diveregnce reset on 40R. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Seventeenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Long, divergences across the board.  </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>FRIDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> </li>
          <li class="list"><b>Exit:</b>  </li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> </li>
          <li class="list"><b>Exit:</b>  </li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> </li>
          <li class="list"><b>Exit:</b>  </li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>  </li>
          <li class="list"><b>Exit:</b>   </li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
<div>


  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
