{% extends "layout.html" %}
{% block content %}
  <article class="media content-section" style="border:none;">
    <img class="article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <center><br><h3 class="hero-header">{{ post.title }}</h3><hr><br></center>
      {% if weekly |length %}
      <center><button onclick="myDetach()">View Trades</button></center>
      <br>
      <script>
        function myDetach() {
        var myWin = window.open( '/detach_viewer/{{weekly}}', 'myWindow', 'width=900,height=550');
        myWin.moveTo(600, 300);
        myWindow.focus();
      }
      </script>
      {% endif %}


<div class="adjust-doc-border-intro doc-clear">
<center><h1 class="hero-header"><b>SUMMATION</b></h1></center>
  <p class="teaser-content">. 
  </p>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>MONDAY</b></h3></center>
  <p class="teaser-content">      
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long at opening, selling absorbed, potential support off previous hh (40t).</li>
          <li class="list"><b>Exit:</b> Close out. </li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, selling comes back in, divergence off resistance(1min), price action - shooting star.</li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-entry short, contract push, gap.</li>
          <li class="list"><b>Exit:</b>  Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, price divergence off 50%, buying kicks in, bounce off vwap, widen target.</li>
          <li class="list"><b>Exit:</b> Close out. </li>
        </ul>
      </li>
      <li class="list"><b>Fifth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, price action weak, contract selling dominiating, double down.</li>
          <li class="list"><b>Exit:</b>  Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Sixth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-entry short, contract push. </li>
          <li class="list"><b>Exit:</b>  Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Seventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, divergence off support, potential bounce. </li>
          <li class="list"><b>Exit:</b>  Target filled.</li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>TUESDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b>
      </p>
      <ul>
        <li class="list"><b>First Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Long at opening, contract push accumulating. </li>
            <li class="list"><b>Exit:</b> Close out. </li>
          </ul>
        </li>
        <li class="list"><b>Second Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Reverse short, resistance, gap, selling kicks in, double down. Divergence off resistance, add to position.</li>
            <li class="list"><b>Exit:</b> Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Third Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Short (late entry), divergences across the board, double down.</li>
            <li class="list"><b>Exit: </b> Stopped out, full stop - ouch.</li>
          </ul>
        </li>
        <br>
        <li class="list" style="color:blue;"><i>Hindsight is 20/20: Head is not in the game, chop & slop (I thought it was Wednesday - doh!, come back later, refreshed).</i> </li>
        <br>
        <br>
        <li class="list"><b>Fourth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Short, fade top, risky. Hard push no effect - no bang for the buck, divergences.</li>
            <li class="list"><b>Exit: </b> Target filled.</li>
          </ul>
        </li>
        <li class="list"><b>Fifth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Re-entry short , contract push, momentum on the cusp.</li>
            <li class="list"><b>Exit: </b> Target filled.</li>
          </ul>
        </li>
        <li class="list"><b>Sixth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Re-entry short, another contract push, gap.</li>
            <li class="list"><b>Exit: </b> Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Seventh Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Long, divergence off 50%, adjust stop, add to position, adjust target.</li>
            <li class="list"><b>Exit: </b>Target filled. </li>
          </ul>
        </li>
        <li class="list"><b>Eighth Trade:</b>
          <ul>
            <li class="list"><b>Entry:</b> Short, divergences, resistance.</li>
            <li class="list"><b>Exit: </b> Target filled.</li>
          </ul>
        </li>

      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>WEDNESDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long at opening, contract push at 50% retrace(1min), price action - potential long after pullback)</li>
          <li class="list"><b>Exit:</b>  Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, price action, breaking 200ema, effort vs result.</li>
          <li class="list"><b>Exit:</b> Close out. </li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse long, buying comes back, bounce off 200ema, divergences off support, double down.</li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, fade (risky). </li>
          <li class="list"><b>Exit:</b>  Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Fifth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, contract push, price action - up swing, add to position, adjust target. </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>Sixth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, buying absorbed, selling comes back, price divergence, head and shoulders, double down. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Seventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, divergence off support. </li>
          <li class="list"><b>Exit:</b>  Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Eighth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>  Short, divergences across the board(late entry).</li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>THURSDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short at opening, contract push, divergence, widen stop, add to position, adjust target..</li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-entry short, massive flush, adjust stop.</li>
          <li class="list"><b>Exit:</b> Close out. </li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse long, double down, divergence off support and off yesterdays' low, other indexes bounce with buying kicks in, market already priced in 8:30 announcement, widen target to gap fill on 40 tick chart.</li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, resistance, selling dominates, buying absorbed.  </li>
          <li class="list"><b>Exit:</b> Close out.  </li>
        </ul>
      </li>
      <li class="list"><b>Fifth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse long, double down, vwap price magnet, go with the flow. </li>
          <li class="list"><b>Exit:</b> Close out, got cold feet. And of course vwap got tagged.  </li>
        </ul>
      </li>
      <br>
      <li class="list" style="color: blue;"><i>Hindsight is 20/20:Got blindsided by massive contract flush at opening, yet market already priced in 8:30am announcement and other indexes started buying and bounced. Placed too much merit on contract accumulation. There are days when contraindicatory.</i></li>
      <br>
      <li class="list"><b>Sixth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, divergence. </li>
          <li class="list"><b>Exit:</b> Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Seventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, divergence make-or-break, reverses with tail - bullish. </li>
          <li class="list"><b>Exit:</b> Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Eighth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, divergences across the board. </li>
          <li class="list"><b>Exit:</b> Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Ninth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-enter short, broke 200ema & vwap, gap, contract push. </li>
          <li class="list"><b>Exit:</b> Target filled.</li>
        </ul>
      </li>
      <li class="list"><b>Tenth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b>Re-enter short heavy contract push, gap, momentum. </li>
          <li class="list"><b>Exit:</b> Target filled.</li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
  <br>
  <br>
  <br>
  <div style="padding-right: 5vw;padding-left: 5vw;">
  <center><h3 class="hero-header"><b>FRIDAY</b></h3></center>
  <p class="teaser-content">
      <div style="padding-right: 10vw;padding-left: 5vw;">
      <p class="teaser-content"> 
        <b>PREMARKET:</b> .
      </p>
      <ul>
      <li class="list"><b>First Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long at opening, heavy volume push, divergences across the board(ignore contract push for now).</li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Second Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, divergences across the board.</li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Third Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, time bar, break out, contract push, momentum on the cusp.</li>
          <li class="list"><b>Exit:</b> Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Fourth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-entry long off momentum. </li>
          <li class="list"><b>Exit:</b>  Close out(weak trade). </li>
        </ul>
      </li>
      <li class="list"><b>Fifth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Reverse short, contracts weak, divergence off resistance, double down.  </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Sixth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Long, Divergence off support. </li>
          <li class="list"><b>Exit:</b>  Target filled. </li>
        </ul>
      </li>
      <li class="list"><b>Seventh Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Short, momentum on cusp, gap, selling dominates, contract push. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      <li class="list"><b>Eighth Trade:</b>
        <ul>
          <li class="list"><b>Entry:</b> Re-entry short, contract push, broke vwap, broke support line. </li>
          <li class="list"><b>Exit:</b> Target filled.  </li>
        </ul>
      </li>
      </ul>
      </div>
  </p>
  </div>
<div>


  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
